.centering {
    height: 85vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    background-color: #F8F9FC;
}
.centering::-webkit-scroll {
    display: none;
}
.levels-image {
    height: 400px;
    width: 700px;
}
.image-paragraph-container {
    width: 700px;
    font-family: sans-serif;
    box-shadow: 0 3px 2px 1px #EAECF5;
    padding: 10px;
}